@model IEnumerable<Actor>

@{
    ViewData["Title"] = "List of Actors";
}

<div class="row">
    <div class="col-md-8 offset-md-2">

        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>@Html.DisplayNameFor(m => m.ProfilePictureURL)</th>
                    <th>@Html.DisplayNameFor(m => m.FullName)</th>
                    <th>@Html.DisplayNameFor(m => m.Bio)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var actor in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <img class="rounded-circle"
                                src="@actor.ProfilePictureURL" 
                                alt="@actor.FullName"
                                style="max-width:150px"/>
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(m => actor.FullName);
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(m => actor.Bio);
                        </td>
                        <td class="align-middle">
                            <a asp-action="Edit" asp-route-id="@actor.Id" class="btn btn-outline-primary">
                                <i class="bi bi-pencil-square"></i> Edit
                            </a> |
                            <a asp-action="Details" asp-route-id="@actor.Id" class="btn btn-outline-info">
                                <i class="bi bi-eye"></i> Details
                            </a> |
                            <a asp-action="Delete" asp-route-id="@actor.Id" class="btn btn-outline-danger">
                                <i class="bi bi-trash"></i> Delete
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div style="position:fixed;right:25px;bottom:25px" class="text-white">
    <a asp-controller=Actors asp-action="Create" class="btn btn-success">
        <i class="bi bi-plus-circle"></i>Add New
    </a>
</div>